@font-face {
  font-family: 'BMHANNA';
  src: url('/assets/fonts/BMHANNA_11yrs_ttf.ttf');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('/assets/fonts/PressStart2P-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecf3ff;
  font-family: 'BMHANNA';
}

:root {
  --skyBlue1: #82afff;
  --skyBlue2: #ecf3ff;
  --skyBlue3: #f5f8ff;
  --gray1: #f7f7f7;
  --gray2: #f4f4f4;
  --gray3: #dbdbdb;
  --gray4: '#B0B0B0';
  --gray5: #878787;
  --gray6: #5a5a5a;
  --gray7: #393939;
  --gray8: #202020;
  --gray9: #121212;
}
